# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Android/Gradle related
/gradlew
/gradlew.bat
/local.properties
/.gradle/
.kotlin/
/build/
/app/build/
/captures/
.cxx/
.externalNativeBuild/

# Symbolication related
app.*.symbols
app.*.map.json

# App-specific ignore
app/debug
app/profile
app/release

# Google Services
app/google-services.json
app/src/dev/google-services.json
app/src/staging/google-services.json
app/src/prod/google-services.json

# Keystore files
*.keystore
*.jks
key.properties

# Generated
GeneratedPluginRegistrant.java
